Applications/fUML-Reference-Implementation/branches/fUML-Maven/trunk/src/xsd/obsolete/ecore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:xmi="http://schema.omg.org/spec/XMI/2.1"
    xmlns:fuml="http://www.modeldriven.org/fuml/xmi/1.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--
	S.C. 9/27/2008 - Added "type" attribute to complex type 'EObject' as appears missing from this (screen-scraped) schema. Note. explore <xs:anyAttribute> use here. (too open?) 
    S.C. 10/1/2008 - Changed target namespace for 'xmi' from 'http://www.omg.org/XMI' to 'http://schema.omg.org/spec/XMI/2.1' to accommodate .xmi files
	-->
	<xsd:import namespace="http://schema.omg.org/spec/XMI/2.1"
		schemaLocation="XMI-2.1.1.xsd" />
	<xsd:import namespace="http://www.modeldriven.org/fuml/xmi/1.0"
		schemaLocation="FUMLXMI.xsd" />
	<xsd:complexType name="EAttribute">
		<xsd:complexContent>
			<xsd:extension base="ecore:EStructuralFeature">
				<xsd:attribute name="iD" type="xsd:boolean" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EAttribute" type="ecore:EAttribute" />
	<xsd:complexType name="EAnnotation">
		<xsd:complexContent>
			<xsd:extension base="ecore:EModelElement">
				<xsd:choice maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="details"
						type="ecore:EStringToStringMapEntry" />
					<!--	
					<xsd:element name="contents"
						type="ecore:EContentsObject">
						<xsd:annotation>
							<xsd:documentation>
								S.C. 9/28/2008 - changed type from
								EObject to custom EContentsObject type
								which contains ecore 'type' and 'name'
								attributes found in RSA ecore output for
								'contents' tag. See below
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					-->
					<xsd:element name="references" type="ecore:EObject" />
				</xsd:choice>
				<xsd:attribute name="source" type="xsd:string" />
				<xsd:attribute name="references" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EAnnotation" type="ecore:EAnnotation" />
	<xsd:complexType name="EClass">
		<xsd:complexContent>
			<xsd:extension base="ecore:EClassifier">
				<xsd:choice maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="eSuperTypes" type="ecore:EClass" />
					<xsd:element name="eOperations"
						type="ecore:EOperation" />
					<xsd:element name="eStructuralFeatures"
						type="ecore:EStructuralFeature" />
				</xsd:choice>
				<xsd:attribute name="abstract" type="xsd:boolean" />
				<xsd:attribute name="interface" type="xsd:boolean" />
				<xsd:attribute name="eSuperTypes" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EClass" type="ecore:EClass" />
	<xsd:complexType name="EClassifier">
		<xsd:complexContent>
			<xsd:extension base="ecore:ENamedElement">
				<xsd:attribute name="instanceClassName"
					type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EClassifier" type="ecore:EClassifier" />
	<xsd:complexType name="EDataType">
		<xsd:complexContent>
			<xsd:extension base="ecore:EClassifier">
				<xsd:attribute name="serializable" type="xsd:boolean" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EDataType" type="ecore:EDataType" />
	<xsd:complexType name="EEnum">
		<xsd:complexContent>
			<xsd:extension base="ecore:EDataType">
				<xsd:choice maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="eLiterals"
						type="ecore:EEnumLiteral" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EEnum" type="ecore:EEnum" />
	<xsd:complexType name="EEnumLiteral">
		<xsd:complexContent>
			<xsd:extension base="ecore:ENamedElement">
				<xsd:attribute name="value" type="xsd:int" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EEnumLiteral" type="ecore:EEnumLiteral" />
	<xsd:complexType name="EFactory">
		<xsd:complexContent>
			<xsd:extension base="ecore:EModelElement" />
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EFactory" type="ecore:EFactory" />
	<xsd:complexType name="EModelElement">
		<xsd:complexContent>
			<xsd:extension base="ecore:EObject">
				<xsd:choice maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="eAnnotations"
						type="ecore:EAnnotation" />
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EModelElement" type="ecore:EModelElement" />
	<xsd:complexType name="ENamedElement">
		<xsd:complexContent>
			<xsd:extension base="ecore:EModelElement">
				<xsd:attribute name="name" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ENamedElement" type="ecore:ENamedElement" />
<!--	
	<xsd:complexType name="EContentsObject">
		<xsd:annotation>
			<xsd:documentation>
				S.C. 9/28/2008 - added to contain ecore namespace attributes
				found on the 'contents' tag
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ecore:EObject">
		        <xsd:choice maxOccurs="unbounded" minOccurs="0">
			        <xsd:element name="children" type="ecore:EExtension" />
			        <xsd:element name="styles" type="ecore:EExtension" />
			        <xsd:element name="edges" type="ecore:EExtension" />
		        </xsd:choice>
				<xsd:attribute name="type" type="xsd:string" />
				<xsd:attribute name="name" type="xsd:string" />
				<xsd:attribute name="element" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EContentsObject" type="ecore:EContentsObject" />
-->	
<!--
	<xsd:complexType name="EExtension">
		<xsd:annotation>
			<xsd:documentation>
				S.C. 9/28/2008 -
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="xmi:Extension">
				<xsd:attribute name="element" type="xsd:string" />
				<xsd:attribute ref="xmi:id" />
				<xsd:attribute name="type" type="xsd:string" />
				<xsd:attribute name="source" type="xsd:string" />
				<xsd:attribute name="target" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EExtension" type="ecore:EExtension" />
-->
	<xsd:complexType name="EObject">
		<xsd:complexContent>
		    <xsd:extension base="fuml:XmiBindingObject">
		    </xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EObject" type="ecore:EObject" />
	
	<xsd:complexType name="EOperation">
		<xsd:complexContent>
			<xsd:extension base="ecore:ETypedElement">
				<xsd:choice maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="eParameters"
						type="ecore:EParameter" />
					<xsd:element name="eExceptions"
						type="ecore:EClassifier" />
				</xsd:choice>
				<xsd:attribute name="eExceptions" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EOperation" type="ecore:EOperation" />
	<xsd:complexType name="EPackage">
		<xsd:complexContent>
			<xsd:extension base="ecore:ENamedElement">
				<xsd:choice maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="eClassifiers"
						type="ecore:EClassifier" />
					<xsd:element name="eSubpackages"
						type="ecore:EPackage" />
				</xsd:choice>
				<xsd:attribute name="nsURI" type="xsd:string" />
				<xsd:attribute name="nsPrefix" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EPackage" type="ecore:EPackage" />
	<xsd:complexType name="EParameter">
		<xsd:complexContent>
			<xsd:extension base="ecore:ETypedElement" />
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EParameter" type="ecore:EParameter" />
	<xsd:complexType name="EReference">
		<xsd:complexContent>
			<xsd:extension base="ecore:EStructuralFeature">
				<xsd:choice maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="eOpposite"
						type="ecore:EReference" />
				</xsd:choice>
				<xsd:attribute name="containment" type="xsd:boolean" />
				<xsd:attribute name="resolveProxies" type="xsd:boolean" />
				<xsd:attribute name="eOpposite" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EReference" type="ecore:EReference" />
	<xsd:complexType name="EStructuralFeature">
		<xsd:complexContent>
			<xsd:extension base="ecore:ETypedElement">
				<xsd:attribute name="changeable" type="xsd:boolean" />
				<xsd:attribute name="volatile" type="xsd:boolean" />
				<xsd:attribute name="transient" type="xsd:boolean" />
				<xsd:attribute name="defaultValueLiteral"
					type="xsd:string" />
				<xsd:attribute name="unsettable" type="xsd:boolean" />
				<xsd:attribute name="derived" type="xsd:boolean" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="EStructuralFeature"
		type="ecore:EStructuralFeature" />
	<xsd:complexType name="ETypedElement">
		<xsd:complexContent>
			<xsd:extension base="ecore:ENamedElement">
				<xsd:choice maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="eType" type="ecore:EClassifier" />
				</xsd:choice>
				<xsd:attribute name="ordered" type="xsd:boolean" />
				<xsd:attribute name="unique" type="xsd:boolean" />
				<xsd:attribute name="lowerBound" type="xsd:int" />
				<xsd:attribute name="upperBound" type="xsd:int" />
				<xsd:attribute name="eType" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ETypedElement" type="ecore:ETypedElement" />
	<xsd:complexType name="EStringToStringMapEntry">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element ref="xmi:Extension" />
		</xsd:choice>
		<xsd:attribute ref="xmi:id" />
		<xsd:attributeGroup ref="xmi:ObjectAttribs" />
		<xsd:attribute name="key" type="xsd:string" />
		<xsd:attribute name="value" type="xsd:string" />
	</xsd:complexType>
	<xsd:element name="EStringToStringMapEntry"
		type="ecore:EStringToStringMapEntry" />
	
	
</xsd:schema>