trunk/Applications/fUML-Reference-Implementation/branches/fUML-Maven/trunk/src/xsd/config/FumlConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.modeldriven.org/fuml/config" 
  xmlns:cfg="http://www.modeldriven.org/fuml/config"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
    <xsd:complexType name="Configuration">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="ImportConfiguration" type="cfg:ImportConfiguration"  minOccurs="1" maxOccurs="1">
                <xsd:annotation>                                  
                    <xsd:documentation></xsd:documentation>       
                </xsd:annotation>                                 
            </xsd:element>
            <xsd:element name="ValidationConfiguration" type="cfg:ValidationConfiguration"  minOccurs="1" maxOccurs="1">
                <xsd:annotation>                                  
                    <xsd:documentation></xsd:documentation>       
                </xsd:annotation>                                 
            </xsd:element>
            <xsd:element name="MappingConfiguration" type="cfg:MappingConfiguration"  minOccurs="1" maxOccurs="1">
                <xsd:annotation>                                  
                    <xsd:documentation></xsd:documentation>       
                </xsd:annotation>                                 
            </xsd:element>
            <xsd:element name="LibraryConfiguration" type="cfg:LibraryConfiguration"  minOccurs="1" maxOccurs="1">
                <xsd:annotation>                                  
                    <xsd:documentation></xsd:documentation>       
                </xsd:annotation>                                 
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="Configuration" type="cfg:Configuration">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>    

    <xsd:complexType name="ImportConfiguration">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="SupportedNamespace" type="cfg:SupportedNamespace"  minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>                                  
                    <xsd:documentation></xsd:documentation>       
                </xsd:annotation>                                 
            </xsd:element>
            <xsd:element name="Exemption" type="cfg:ImportExemption"  minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>                                  
                    <xsd:documentation></xsd:documentation>       
                </xsd:annotation>                                 
            </xsd:element>
            <xsd:element name="Adapter" type="cfg:ImportAdapter"  minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>                                  
                    <xsd:documentation></xsd:documentation>       
                </xsd:annotation>                                 
            </xsd:element>
            
            <xsd:element name="ExtensionPackage" type="cfg:ExtensionPackage"  minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>                                  
                    <xsd:documentation></xsd:documentation>       
                </xsd:annotation>                                 
            </xsd:element>
            
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="ImportConfiguration" type="cfg:ImportConfiguration">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ImportExemption">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        
        <xsd:attribute name="type" type="cfg:ImportExemptionType" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The type of exemption</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

        <xsd:attribute name="domain" type="cfg:NamespaceDomain" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The namespace domain name</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

        <xsd:attribute name="localName" type="xsd:string" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The unqualified local name of the (XML) element</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="ImportExemption" type="cfg:ImportExemption">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:simpleType name="ImportExemptionType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="element" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ImportAdapter">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>

        <xsd:attribute name="type" type="cfg:ImportAdapterType" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The type of import adapter</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

        <xsd:attribute name="className" type="xsd:string" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The unqualified element class name</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

        <xsd:attribute name="adapterClassName" type="xsd:string" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The qualified adapter class name</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

    </xsd:complexType>

    <xsd:element name="ImportAdapter" type="cfg:ImportAdapter">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:simpleType name="ImportAdapterType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="stream" />
            <xsd:enumeration value="assembly" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ValidationConfiguration">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="Exemption" type="cfg:ValidationExemption"  minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>                                  
                    <xsd:documentation></xsd:documentation>       
                </xsd:annotation>                                 
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="ValidationConfiguration" type="cfg:ValidationConfiguration">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ValidationExemption">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>

        <xsd:attribute name="type" type="cfg:ValidationExemptionType" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The type of exemption</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>
        
        <xsd:attribute name="domain" type="cfg:NamespaceDomain" use="optional" default="uml">
            <xsd:annotation>                                  
                <xsd:documentation>The namespace domain name</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

        <xsd:attribute name="classifierName" type="xsd:string" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The classifier name</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

        <xsd:attribute name="propertyName" type="xsd:string" use="optional">
            <xsd:annotation>                                  
                <xsd:documentation>The property name</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

        <xsd:attribute name="href" type="xsd:string" use="optional">
            <xsd:annotation>                                  
                <xsd:documentation>The XMI href for an external reference</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

    </xsd:complexType>

    <xsd:element name="ValidationExemption" type="cfg:ValidationExemption">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:simpleType name="ValidationExemptionType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="requiredProperty" />
            <xsd:enumeration value="undefinedProperty" />
            <xsd:enumeration value="externalReference" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="SupportedNamespace">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>

        <xsd:attribute name="uri" type="xsd:string" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The namespace URI</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

        <xsd:attribute name="domain" type="cfg:NamespaceDomain" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The namespace domain name</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

    </xsd:complexType>

    <xsd:element name="SupportedNamespace" type="cfg:SupportedNamespace">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:simpleType name="NamespaceDomain">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="xmi" />
            <xsd:enumeration value="uml" />
            <xsd:enumeration value="ecore" />
            <xsd:enumeration value="magicdraw" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ExtensionPackage">
        <xsd:annotation>
            <xsd:documentation>Extends the import processing to look for metamodel implementation classes searching all extension packages in declared order</xsd:documentation>
        </xsd:annotation>

        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The qualified java package name</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

    </xsd:complexType>

    <xsd:element name="ExtensionPackage" type="cfg:ExtensionPackage">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>


    <xsd:complexType name="MappingConfiguration">
        <xsd:annotation>
            <xsd:documentation>Mapping configuration root class. </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="ReferenceMapping" type="cfg:ReferenceMapping"  minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>                                  
                    <xsd:documentation></xsd:documentation>       
                </xsd:annotation>                                 
            </xsd:element>
            <xsd:element name="BehaviorExecutionMapping" type="cfg:BehaviorExecutionMapping"  minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>                                  
                    <xsd:documentation></xsd:documentation>       
                </xsd:annotation>                                 
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="MappingConfiguration" type="cfg:MappingConfiguration">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ReferenceMapping">
        <xsd:annotation>
            <xsd:documentation>Used by fUML validation and assembly operations to determine if a missing required property is available/derivable from adjacent or associated XMI node(s)</xsd:documentation>
        </xsd:annotation>

        <xsd:attribute name="type" type="cfg:ReferenceMappingType" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The type of reference mapping. Specifies from 'where' a reference is to be found in order to satisfy a required property.</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>
        <xsd:attribute name="propertyName" type="xsd:string" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The property name. Note the property-name, class-name combination are checked, must exist in the model, otherwise fatal errors will occur on bootstrap</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>
        <xsd:attribute name="className" type="xsd:string" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The class (classifier) name. Note the property-name, class-name combination are checked, must exist in the model, otherwise fatal errors will occur on bootstrap</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

    </xsd:complexType>

    <xsd:element name="ReferenceMapping" type="cfg:ReferenceMapping">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>    

    <xsd:simpleType name="ReferenceMappingType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="parent" />
            <xsd:enumeration value="child" />
            <xsd:enumeration value="sibling" />
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:complexType name="BehaviorExecutionMapping">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>

        <xsd:attribute name="className" type="xsd:string" use="required">
            <xsd:annotation>                                  
                <xsd:documentation></xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

        <xsd:attribute name="executionClassName" type="xsd:string" use="required">
            <xsd:annotation>                                  
                <xsd:documentation></xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

    </xsd:complexType>

    <xsd:element name="BehaviorExecutionMapping" type="cfg:BehaviorExecutionMapping">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="LibraryConfiguration">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="LibraryImport" type="cfg:LibraryImport"  minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>                                  
                    <xsd:documentation></xsd:documentation>       
                </xsd:annotation>                                 
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="LibraryConfiguration" type="cfg:LibraryConfiguration">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="LibraryImport">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>

        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The library name</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

        <xsd:attribute name="urn" type="xsd:string" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The the URN to use as the basis for registering library entries</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

        <xsd:attribute name="delimiter" type="xsd:string" use="required">
            <xsd:annotation>                                  
                <xsd:documentation>The the delimiter character(s) to use as a URI token seperator</xsd:documentation>       
            </xsd:annotation>                                 
        </xsd:attribute>

    </xsd:complexType>

    <xsd:element name="LibraryImport" type="cfg:LibraryImport">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    
</xsd:schema>